.hotAccessories{
    display: flex;
    width: 90vw;
    margin: auto;
}
.hotAccessories>div:first-child>img{
    width: 22vw;
    cursor: pointer;
}

.hotAccessories>div:first-child>img{
    transform: translateY(-0.4vmax);
    box-shadow: 0px 6px 15px rgba(53, 53, 53, 0.363);
}

.hotAccessories>div:last-child{
    display: flex;
    flex-wrap: wrap;
}