.nav{
    z-index: 9999;
    background-color: white;
    padding: 1vmax;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(43, 43, 43, 0.137);
}